<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabs | Bulmally</title>

    <!-- Include complete assets for each component -->
    <script src="/dist/app.js"></script>
    <link rel="stylesheet" type="text/css" href ="/dist/app.css" />
    <script src="/dist/vendor.js"></script>
    <link rel="stylesheet" type="text/css" href ="/dist/vendor.css" />

</head>
<body>


        <!-- Component library navigation markup comes here -->
        <nav class="section">
            <a class="button is-primary" href="../../index.html#components">Back to component list</a>
        </nav>

        <section class="section">

            <div class="container">

                <!-- Component markup starts here -->
                <div class="bulmally-tabs">
                    <div class="tabs">
                        <ul class="bulmally-tabs-tablist" aria-label="Give some descriptive name for your tabs here">
                            <li class="is-active"><a href="#first">First</a></li>
                            <li><a href="#second">Second</a></li>
                            <li><a href="#third">Third</a></li>
                            <li><a href="#fourth">Fourth</a></li>
                        </ul>
                    </div>

                    <div>
                        <div class="bulmally-tabs-panel" id="first">
                            <h2>First</h2>
                        </div>
                        <div class="bulmally-tabs-panel" id="second">
                            <h2>Second</h2>
                        </div>
                        <div class="bulmally-tabs-panel" id="third">
                            <h2>Third</h2>
                        </div>
                        <div class="bulmally-tabs-panel" id="fourth">
                            <h2>Fourth</h2>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <section class="section">

            <div class="container">

                <div class="bulmally-tabs">

                    <div class="tabs is-boxed">
                        <ul class="bulmally-tabs-tablist">
                            <li class="is-active">
                                <a href="#pictures">Pictures</a>
                            </li>
                            <li>
                                <a href="#music">Music</a>
                            </li>
                            <li>
                                <a href="#videos">Videos</a>
                            </li>
                            <li>
                                <a href="#documents">Documents</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <div class="bulmally-tabs-panel" id="pictures">
                            <h2>Pictures</h2>
                        </div>
                        <div class="bulmally-tabs-panel" id="music">
                            <h2>Music</h2>
                        </div>
                        <div class="bulmally-tabs-panel" id="videos">
                            <h2>Videos</h2>
                        </div>
                        <div class="bulmally-tabs-panel" id="documents">
                            <h2>Documents</h2>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <section class="section">

            <section class="bulmally-component-documentation container content" id="js-markdown">
            </section>

        </section>

</body>
</html>