<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message | Bulmally</title>

    <!-- Include complete assets for each component -->
    <script src="/dist/app.js"></script>
    <link rel="stylesheet" type="text/css" href ="/dist/app.css" />
    <script src="/dist/vendor.js"></script>
    <link rel="stylesheet" type="text/css" href ="/dist/vendor.css" />

</head>
<body>


        <!-- Component library navigation markup comes here -->
        <nav class="section">
            <a class="button is-primary" href="../../index.html#components">Back to component list</a>
        </nav>

        <section class="section">

            <div class="container">

                <!-- Component markup starts here -->
                <section class="bulmally-message message">
                    <header class="message-header">
                        <h2>Hello World</h2>
                        <button class="delete" aria-controls="testi">
                            <span class="is-sr-only">Close message</span>
                        </button>
                    </header>
                    <div class="message-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                </section>

            </div>

        </section>

        <section class="section">

            <section class="bulmally-component-documentation container content" id="js-markdown">
            </section>

        </section>

</body>
</html>