<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bulmally | Boilerplate component</title>

    <!-- Include complete assets for each component -->
    <script src="/dist/app.js"></script>
    <link rel="stylesheet" type="text/css" href ="/dist/app.css" />
    <script src="/dist/vendor.js"></script>
    <link rel="stylesheet" type="text/css" href ="/dist/vendor.css" />

</head>
<body>

        <!-- Component library navigation markup comes here -->
        <nav>
            <a href="../../index.html">Back</a>
        </nav>

        <section class="section">

                <div class="container">

                    <!-- Component markup starts here -->
                    <div class="bulmally-navbar">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad accusamus, nulla, animi at non sapiente iusto sequi, perferendis maxime incidunt facilis! Libero culpa itaque vero ipsa facere accusantium obcaecati?</p>
                    </div>

                </div>

            </section>

        <section class="section">

            <section class="bulmally-component-documentation container content" id="js-markdown">
            </section>

        </section>

</body>
</html>